@page
@model SearchModel
@{
    ViewBag.Title = "Search Page";
}

<div class="w-96 mx-auto bg-white p-2">
    <h1>Search</h1>
    <form method="post">
        <label asp-for="Search.Name">Name</label>
        <br />
        <input asp-for="Search.Name" />
        <span asp-validation-for="Search.Name"></span>
        <button class="bg-green-600 hover:bg-green-800" type="submit">Search</button>

        @if (Model.Pokemon != null)
        {
@*             <div>
                <p>ID: @Model.Pokemon.Id</p>
                <p>Name: @Model.Pokemon.Name</p>
                <p>Type: @Model.Pokemon.Type1</p>
                @if (Model.Pokemon.Type2 != null)
                {
                    <p>Type: @Model.Pokemon.Type2</p>
                }
            </div> *@
        }
        <div>@Model.Message</div>
    </form>
</div>

